
.date{
    width: 96%;
    height: 80rpx;
    color: #4b4b4b;
    font-weight: 400;
    font-size: 45rpx;
    line-height: 80rpx;
    padding-left: 20rpx;
    margin:30rpx 2%;
}
.title{
    width: 100%;
    height: 100rpx;
    background-color: #ececec;
    line-height: 100rpx;
    display: flex;
    color:#9c9c9c;
    .t1,.t2,.t3{
        font-size: 24rpx;
        display: block;
    }
    .t1{
        width: 20%;
        text-align: center;
    }
    .t2{
        width: 15%;
        text-align: center;
    }
    .t3{
        width: 60%;
        font-size: 40rpx;
        color:#4b4b4b;
        font-weight: 400rpx;
        text-align: right;
        &::before{
            content: '￥';
            font-size: 24rpx;
            color: #FF0000;
            
        }
    }
}
.billBox{
    width: 100%;
    height: 1200rpx;
    background-color: #ececec;
    .list{
        width: 100%;
        height: 130rpx;
        background-color: #FFFFFF;
        border-bottom: 1rpx solid #ececec;
        display: flex;
        line-height: 130rpx;
    }
    .icon{
        width: 20%;
        text-align: center;
        .iconfont{
            font-size: 65rpx;
            color: #4b4b4b;
        }
    }
    .c-spend{
        width: 25%;
        text-align: right;
        color: #4b4b4b;
        font-size: 36rpx;
        &::before{
            content: '￥';
            font-size: 24rpx;
            color: #FF0000;
        }
    }
    
    .classbox{
      width: 50%;
      text-align: left;
      font-size: 24rpx;
      display: flex;
      flex-direction: column;
       .c-text{
           height: 85rpx;
           line-height: 70rpx;
           .t2{
               font-size: 20rpx;
               color: #9c9c9c;
               padding-left: 15rpx;
           }
       }
       .c-line{
           width: 100%;
           height: 15rpx;
           border-radius: 15rpx;
           .line{
               height: 15rpx;
               border-radius: 15rpx;
           }
       }
       .sub{
           width: 100%;
           line-height: 25rpx;
           height: 40rpx;
           color:#4b4b4b;
           font-size: 22rpx;
           margin-top: -10rpx;
           overflow: hidden;
           text-overflow:ellipsis; 
           white-space: nowrap;
       }
    }
    
}
